/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #B4AE9C;
    font-size: 1.2em;
    line-height: 1.4;
    font-family: 'Oswald', sans-serif;
    background: #CCC

}

.gauche, .droite {
    width: 10vw;
    height: 15vh;
    background:#069;
    position:absolute;
    bottom: 1px;
    left: 0px;
 }

.gauche {
    
}

.droite {

    background: lime;
    left: 20vw;
    
}















 